/* Styling the top bar */
.bar a {
	float: left; 
	color: #f2f2f2; text-align: center;
	padding: 14px 16px;
  	transition: 0.3s;
	text-decoration: none; font-size: 17px; font-family: "Monaco", monospace;
	cursor: pointer;
}

.bar a:hover {
	background-color: #bababa;
	color: #000000;
	opacity: 1;
}

.bar a.activename {
	background-color: #7a7a7a;
	color: #000000;
}

.bar {
	overflow: hidden;
	background-color: #000000;
	border-radius: 8px;
}

/* Cursor Trail */
.trail {
	position: absolute;
	width: 10px;
	height: 10px;
	background: radial-gradient(circle, rgba(0, 255, 0, 0.473), transparent);
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
  }
@keyframes fade {
	from {
	  transform: scale(1);
	  opacity: 1;
	}
	to {
	  transform: scale(0.5);
	  opacity: 0;
	}
  }

/* New Addons */
html {
	height:100%;
  }
  
  body {
	margin:0;
  }
  
  .bg {
	animation:slide 10s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #000000 50%, #02cf57 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
  }
  
  .bg2 {
	animation-direction:alternate-reverse;
	animation-duration:10s;
  }
  
  .bg3 {
	animation-duration:15s;
  }
  
  @keyframes slide {
	0% {
	  transform:translateX(-25%);
	}
	100% {
	  transform:translateX(25%);
	}
  }

/* Buttons */ 
.arrow {
  cursor: pointer;
  height: 60px;
  right: 2%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
}

.arrow-top, .arrow-bottom {
  background-color: #7dff99;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}
 
 /* Cube */
 .cube {
  position: absolute; bottom: 10%; left: 5%;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animateD 8s linear infinite;
}

@keyframes animateD {
  0% {
    transform: rotateX(-15deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-15deg) rotateY(-360deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube2 {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: animateD2 5s ease-out infinite alternate;
}

@keyframes animateD2 {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(180deg) rotateY(-360deg);
  }
}

.cube2 div {
  position: absolute;
  top: 35px;
  left: 0;
  width: 65%;
  height: 65%;
  transform-style: preserve-3d;
}

.cube2 div span {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 65%;
  height: 65%;
  background: transparent;
  border: 2px solid #7dff99;
  transform: rotateY(calc(90deg * var(--i))) translateZ(62px);
}

.cube3 {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animateD3 1s ease-in-out infinite alternate;
}

@keyframes animateD3 {
  0% {
    transform: rotateX(-90deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(45deg);
  }
}

.cube3 div {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 15%;
  height: 15%;
  transform-style: preserve-3d;
}

.cube3 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7dff99;
  transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
  box-shadow: 0px 0px 7px #7dff99;
}

.top3 {
  position: absolute;
  top: 0;
  left: 0;
  background: #7dff99;
  transform: rotateX(90deg) translateZ(14px);
  box-shadow: 0px 0px 10px #7dff99;
}

/* Middle Text */
.personal {
  cursor: pointer;
  margin: 0;
  position: absolute;
  text-align: center;
  color: #000000;
  text-shadow: 4px 2px #30b969;
  top: 45%; left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 400%;
  transition: transform 0.3s;
}

.personal:hover {
	color:#fff;
	text-shadow: 4px 2px #000000;
	transition: 0.3s;
  }