/* Buttons */ 
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.card a {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px #000000;
}

.cards .red {
  background-color: #20CC00;
}

.cards .blue {
  background-color: #189900;
}

.cards .green {
  background-color: #106600;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1.5em;
  font-weight: 700;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}

/* Gallery Card */
.carrot {
    width: 70%;
    height: 50%;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    background:rgba(14, 14, 14, 0.5);
    display: flex;
    position: absolute;
    top: 20%;
    right: 23%;
    gap: 5px;
    padding: 0.4em;
    overflow: hidden; /* Hide overflow content */
}

.carrot p {
  font-size: 150%;
}

.carrot div {
    height: 100%;
    flex: 1;
    color: #28FF00;
    font-size: 120%;
    text-shadow: 2px 2px #000000;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: flex 0.5s ease, background 0.5s ease;
    border: 3px solid #28FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure absolute positioning for child elements */
}

.carrot span {
    min-width: 14em;
    padding: 0.5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
    text-transform: uppercase;
    color: #28FF00;
    letter-spacing: 0.1em;
    position: absolute; /* Positioned absolutely within the parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg); /* Center and rotate */
}

.carrot div:hover {
    flex: 4;
    background: rgba(0, 0, 0, 0.5); /* Darker background on hover for contrast */
}

.carrot div:hover span {
    transform: translate(-50%, -50%) rotate(0);
    opacity: 1; /* Ensure text is fully visible */
}

.carrot div span {
    opacity: 0; /* Hide text initially */
}

.carrot div:hover p {
    opacity: 0;
}
